/* Resetting default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(2, 2, 71);
    color: white;
    padding: 10px 20px;
}

.logo h1 {
    font-size: 20px;
    font-weight: bold;
}

.navigation {
    list-style-type: none;
    display: flex;
}

.navigation li {
    margin-right: 20px;
}

.navigation li:last-child {
    margin-right: 0;
}

.navigation li a {
    color: white;
    text-decoration: none;
}

.menu-toggle {
    font-size: 24px;
    cursor: pointer;
}

.search-button {
    width: 40px;
    height: 40px;
    background-color: #007BFF;
    border-radius: 50%;
}

.login-signup a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}
